.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    width: 400px;
    max-width: 100%;
    height: 250px;

    margin: 15% auto;

    background:lightgray;
    border-radius: 3px;

    animation-name: animateTop;
    animation-duration: 0.4s
}

@keyframes animateTop {
    from {top: 300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.menu_choose_item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 100%;
    height: 15%;

    margin-bottom: 40px;
}

.menu_choose {
    font-size: 30px;
    font-weight: 300;
    font-family: 'Caveat', cursive;

    color: black;

    cursor: pointer;
}

.menu_play {
    display: block;
    width: 75px;
    max-width: 100%;
    height: 25px;

    font-size: 15px;

    background: gray;
    border: 1px solid darkgray;

    margin-bottom: 20px;

    cursor: pointer;
}

.menu_play:hover {
    background:dimgrey;
    border-color: black;
}

.menu_notice_container {
    display: block;
    width: 100%;

    margin: 80px;
}

.menu_notice {
    font-size: 17px;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    text-align: center;

    color: rgb(165, 16, 16);
}